body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: green
}

ul li {
    font-weight: bold;
    font-size: 20pt;
    margin-left: 5pt;
    margin-top: 10pt;
    list-style-image: url(img/m1.png); 
}

ul ul li {
    font-weight: normal;
    margin-left: 10pt;
    margin-top: 0pt;
    list-style-image: url(img/m2.png); 
}


